{% extends "base.html" %}

{% block content %}
<h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
<p class="text-center">Создайте короткую ссылку автоматически или предложите свой вариант</p>

<div class="row justify-content-center">
  <div class="col-md-6">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.original_link(class="form-control form-control-lg", placeholder="Длинная ссылка") }}
        {% for error in form.original_link.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.custom_id(class="form-control form-control-lg", placeholder="Ваш вариант короткой ссылки") }}
        {% for error in form.custom_id.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary form-control-lg py-3") }}
    </form>
  

    {% if short %}
      <div class="mt-3 text-center">
        <h5>Ваша короткая ссылка готова:</h5>
        <a href="{{ short }}">{{ short }}</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}